<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include ../partials/head.ejs %>
  <link href="/css/select2.min.css" rel="stylesheet">
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <%- include ../partials/header.ejs %>
    <div class="app-body">
      <%- include ../partials/nav.ejs %>
      <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="#">Admin</a>
          </li>
          <li class="breadcrumb-item active">Create Busines</li>
          <!-- Breadcrumb Menu-->
        </ol>
        <div class="container-fluid">
            <div class="col-sm-7">
                <div class="card">
                  <div class="card-header">
                    <strong>Create Business</strong>
                  </div>

                    <div class="card-body">
                      <div class="form-group">
                        <label for="company">Business Name</label>
                        <input class="form-control" id="company" name="bname" type="text" placeholder="Enter company name">
                      </div>
                      <div class="form-group">
                        <label for="vat">Industry Name</label>
                        <input class="form-control" id="vat" name="industryname" type="text" placeholder="Enter Industry name">
                      </div>

                      <div class="form-group">
                          <label for="vat">Industry Description</label>
                          <textarea class="form-control" name="bdesc" name="" id="" cols="30" rows="5"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="street">Address</label>
                        <input class="form-control" id="street" name="baddress"  type="text" placeholder="Enter Address">
                      </div>
                      <hr>
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label for="city">Admin Name</label>
                          <input class="form-control" id="city" name="badmin" type="text" placeholder="Company Admin Name">
                        </div>
                        <div class="form-group col-sm-6">
                          <label for="postal-code">Email</label>
                          <input class="form-control" id="postal-code" name="badminemail" type="text" placeholder="Admin Email">
                        </div>
                      </div>
                    </div>

                    <div class="card-footer">
                      <button id="config_card_load" class="btn btn-sm btn-primary" type="button">
                      <i class="fa fa-dot-circle-o"></i> Next</button>
                    </div> 

                </div>
              </div>
        </div>
      </main>

      <!-- right side panel will appear here -->
      <aside id="aside" class="aside-menu">
      
      
      </aside>

      <div id="save_and_trigger" class="save_and_trigger">
        <div class="p-3 float-right">
              <button id="save_and_trigger_btn" class="btn btn-lg btn-primary" type="button">Save And Continue</button>
        </div>
      </div>
    </div>

    <%- include ../partials/footer.ejs %>
    <%- include ../partials/scripts.ejs %>

    <script src="/js/select2.min.js"></script>
    <script src="/js/app/config.js"></script>
    <script src="/js/app/business-create.js"></script>  
  </body>
</html>